<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="pCard">
    <div class="profile">
        <!-- <span class="pic"></span> -->
        <img class="pic"  src="../../../assets/avatar.webp" alt="">
        <div class="info">
            <h3 class="userName">Aorih</h3>
            <div class="counters">
                <div class="counters__views">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                    <p>9999</p>
                </div>
                <div class="counters__follows">
                    <span class="material-symbols-outlined">
                        handshake
                    </span>
                    <p>236</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="description">
        <div class="description__text">
            <p *ngIf="!onEdit" (click)="editDescription()">{{descriptionText}}</p>
        </div>
        <textarea #textArea *ngIf="onEdit" name="" id="textArea" rows="7" placeholder="About me..." value="{{descriptionText}}" (blur)="setDescription()"></textarea>
    </div>
</div>

