<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="pCard">
    <div class="profile">
        <span class="pic"></span>
        <div class="info">
            <h3 class="userName">Aorih</h3>
            <div class="counters">
                <span class="material-symbols-outlined">
                    visibility
                </span>
                <span class="material-symbols-outlined">
                    handshake
                </span>
            </div>
        </div>
    </div>
    <div class="description">
        <textarea name="" id="" rows="7" placeholder="About me..."></textarea>
    </div>
</div>
