<app-loader-mask *ngIf="_isLoading"></app-loader-mask>
<header class="heading fixed-top" *ngIf="!_isLoading">
    <div class="title">
        <img src="../../assets/titleLogin.png" alt="sheep">
    </div>
    <form (ngSubmit)="validar()" [formGroup]="fLogin">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-danger">Login</button>
        <br>
        <a routerLink="/register" routerLinkActive="router-link-active" >Or create a new account</a>
    </form>
</header>
<div class="hideElements" *ngIf="!_isLoading">
    <div class="box"></div>
</div>
