@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.heading{
    display: flex;
    width: 100%;
    padding: 2rem;
    box-shadow: 0px 5px 5px 10px rgba(0,0,0,0.7);
    color: whitesmoke;
    font-family: 'Rubik Bubbles', cursive;
    animation: gradientColor 3s linear infinite;
    background-image: linear-gradient(90deg,  #9D1D1D 0%, rgb(214, 82, 82) 50%,  #9D1D1D 100%);
    background-size: 1100% 100%;

    animation: showsUp 5s;
}

img {
    max-width: 40rem;
    max-height: 10rem;
}

.title{
    display: flex;
    flex-basis: 80%;
    padding-left: 5rem;
    padding-top: 2rem;
}

.box {
    height: 1rem;
    margin: 0 100%;
    width: 100%;
    background-color: black;
    border-radius: 0rem;
    animation-name: comprime;
    animation-duration: 6s;
}

.hideElements{
    margin: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 14%;
    top: 86%;
    background-color: white;
}

@keyframes gradientColor{
    0% { background-position: 0% 0%; } 
    100%{ background-position: 100% 0%; }
}

@keyframes showsUp {
    0%, 50% { top: 100%; opacity: 0; box-shadow: 0px -10px 9px 0px rgba(0,0,0,0.75);}
    60% { opacity: 0; }
    100%{ top: 0%; opacity: 1; box-shadow: 0px 5px 5px 10px rgba(0,0,0,0.7);}
}

@keyframes comprime {
    0% { margin: 0 100%; }
    25% { margin: 0 100%; }
    50% { margin: 0 0% }
    75% { margin: 0 0% }
    100% { margin: 0 100%; }
}
