@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

main{
    position: fixed;
    top: 15%;
    left: 20%;
    max-width: 60%;
    animation-name: showsUp;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}

.logo{
    display: flex;
    justify-content: center;
}


.logo__img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 8rem;
    font-family: 'Rubik Bubbles', cursive;
    animation: gradientColor 2s linear infinite;
    background-image: linear-gradient(90deg,  rgba(209, 41, 41, 1) 0%, rgba(233, 155, 155, 1) 50%,  rgba(209, 41, 41, 1) 100%);
    background-size: 1100% 100%;
    width: 30rem;
    height: 10rem;
    border-radius: 2rem;
}

.box {
    height: 1rem;
    margin: 0 100%;
    width: 80%;
    background-color: black;
    border-radius: 1rem;
    animation-name: comprime;
    animation-duration: 4s;
}

.hideElements{
    margin: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 14%;
    top: 86%;
    background-color: white;
}

@keyframes gradientColor{
    0% { background-position: 0% 0%; } 
    100%{ background-position: 100% 0%; }
}

@keyframes showsUp {
    0%, 50% { top: 100%; }
    100%{ top: 15% }
}

@keyframes comprime {
    0% { margin: 0 100%; }
    25% { margin: 0 100%; }
    50% { margin: 0 0% }
    75% { margin: 0 0% }
    100% { margin: 0 100%; }
}
