textarea{
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    height: 20rem;
    background-color: tomato;
    background-size: contain;
    z-index: -1;
}

input[type="file"]{
    display: none;
}

.changeBannerButton{
    position: absolute;
    cursor: pointer;
    right: 1%;
    top: 4%;
}

.changeBannerButton:hover{
    transform: scale(1.1)
}