h4{
    color: whitesmoke;
    background-color: rgba(210, 94, 68, 1);
}

.container{
    margin: 0 auto;
    margin-top: 7rem;
    max-width: 40%;
}

.mainFeed {
    height: 100vh;
    background-color: aliceblue;
}